<app-navbar></app-navbar>
<h1>Create your FinanceHub Account</h1>
<form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
  <div>
      <label for="username">Username:<span class="required">*</span></label>
      <input type="text" id="username" name="username" #username="ngModel" value="John" ngModel required pattern="^[a-zA-Z]+$" maxlength="10" minlength="3" placeholder="Enter Name">
      <div *ngIf="username.invalid && (username.dirty || username.touched || registerForm.submitted)" class="error-message">
        <div *ngIf="username.errors?.required">Username is required.</div>
        <div *ngIf="username.errors?.pattern">Username can only contain letters.</div>
        <div *ngIf="username.errors?.minlength">Username cannot contain less than 3 letters.</div>
        <div *ngIf="username.errors?.maxlength">Username cannot contain more than 10 letters.</div>
      </div>
  </div>  
 
  <div>
    <label for="email">Email:<span class="required">*</span></label>
    <input type="email" id="email" name="email" #email="ngModel" ngModel value="john@gmail.com" required email placeholder="Enter Email" pattern="^.+@.+\.(biz|com|in|net)$" >
    <div *ngIf="email.invalid && (email.dirty || email.touched || registerForm.submitted)" class="error-message">
      <div *ngIf="email.errors?.required">Email is required.</div>
      <div *ngIf="email.errors?.pattern">Please enter a valid email.</div>
    </div>
  </div>
 
  <div>
    <label for="password">Password:<span class="required">*</span></label>
    <input type="password" id="password" name="password" #password="ngModel" value="John@123" ngModel required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" placeholder="Enter Password">
    <div *ngIf="password.invalid && (password.dirty || password.touched || registerForm.submitted)" class="error-message">
      <div *ngIf="password.errors?.required">Password is required.</div>
      <div *ngIf="password.errors?.pattern">Password should have atleast one Capital letter, one small letter, special character and a number.</div>
    </div>
  </div>
 
  <div>
    <label for="confirmPassword">Confirm Password:<span class="required">*</span></label>
    <input type="password" id="confirmPassword" name="confirmPassword" value="John@123" #confirmPassword="ngModel" ngModel required placeholder="Enter Confirm Password">
    <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched || registerForm.submitted)" class="error-message">
      Confirm Password is required.
    </div>
    <div *ngIf="registerForm.submitted && confirmPassword.value !== password.value" class="error-message">
      Passwords do not match.
    </div>
  </div>
 
  <div>
    <label for="mobileNumber">Mobile Number:<span class="required">*</span></label>
    <input type="text" id="mobileNumber" name="mobileNumber" #mobileNumber="ngModel" value="1234567890" ngModel required maxlength="10" pattern="^[0-9]{10}$" placeholder="Enter Mobile Number">
    <div *ngIf="mobileNumber.invalid && (mobileNumber.dirty || mobileNumber.touched || registerForm.submitted)" class="error-message">
      <div *ngIf="mobileNumber.errors?.required">Mobile number is required.</div>
      <div *ngIf="mobileNumber.errors?.maxlength">Mobile number can be only 10 digits.</div>
      <div *ngIf="mobileNumber.errors?.pattern">Mobile number should only contain numbers.</div>
    </div>
  </div>
 
  <div>
    <label for="userRole">Role:<span class="required">*</span></label>
    <select id="userRole" name="userRole" #userRole="ngModel" ngModel required>
      <option value="" disabled selected>Select Role</option>
      <option value="MANAGER">MANAGER</option>
      <option value="CLIENT">CLIENT</option>
    </select>
    <div *ngIf="userRole.invalid && (userRole.dirty || userRole.touched || registerForm.submitted)" class="error-message">
      Role is required
    </div>
  </div>
  <button type="submit" [disabled]="!registerForm.valid || (password.value !== confirmPassword.value)">Register</button>
  <p>Already have an account? <a [routerLink]="['/login']">Sign in</a></p>
</form>

<div class="error-message" *ngIf="errorMessage">
  {{errorMessage}}
</div>

<!-- Modal Popup for Successful Registration -->
<div *ngIf="registrationSuccess" class="modal">
  <div class="modal-content">
    <p>Registration Successful!</p>
    <button (click)="redirectToLogin()">Go to Login</button>
  </div>
</div>